//global styles
html{
    height:100%;
    font-size:62.5%
}
body{
    font-family:@fontStack;  
    background-color: @headerColor;
    background-image: url('/static/img/bg.jpg') ;
    background-attachment:fixed;            
    height: 100%;   
    box-sizing: border-box; 
    color:@textColor;
    overflow-x: hidden;
}
.lineRight{
    border-right:1px solid @accentColor;
}
.lineLeft{
    border-left:1px solid @accentColor;
}
.link{
    color:@textColor;
    text-decoration:@linkDecoration;
}
.vertLine{
    border-right:1px solid @accentColor;
    min-height:120px;
    width:1px;
    align-self: center;
}

.liner(@alignDirection){
    border-top:1px solid @accentColor;
    width: 50%;
    height:1px;
    align-self: @alignDirection;
    margin-right:1px;
}

.horizontalRight{
    .liner(flex-end)
}
.horizontalLeft{
    .liner(flex-start)    
}
.sectionHeading {
    justify-content: center;
    align-self: center;
    width: 300px;
    text-align: center;
    background-color: @accentColor;
    border-radius:@border-radius;
} 
.sectionTitle{
    font-size: 4.5rem;
    color:white;
    padding:10px;
}
.reduceForLines{
    padding:20px;
}


.name{
    font-size: xx-large;
}
.hideLinkButton{
    display:none;
}


.pageContainer{
    width:100%;
    flex-direction: column;
    margin:0 auto;
    align-items: center;
    justify-content: center;
}

.showBackgroundColor{
    background-color: @headerColor;
}