body{
    background-color: @headerColor;
    display:flex;
    justify-content: center;
    margin:0 auto;
    @media @desktop{
        background-color: @headerColor;
        //background: url('../img/bgHeader-72k.jpg')no-repeat center center fixed; 
        background-image: url('/static/img/test1.jpg') ;
        background-attachment:fixed;            

    }
    
}
