.mainSectionContent{
    
    display: flex;
    flex-direction: column;
    max-width: 1020px;
    margin:0 auto;

    .aboutMe{
        .backgroundImageAndBorder();
        line-height:4rem;
        font-size:1.8rem;
        
        p{
            padding:15px;
        }        
        .indent{
            margin-left:10px;
        }
        .helloWorld{
            margin-bottom:0;
        }

    }
    .resume{
        .backgroundImageAndBorder();
        line-height:4rem;
        font-size:1.8rem;

        .resumeContent{
            display:flex;
            flex-direction: column;
            align-items:center;

            @media @desktop{
                display:flex;
                flex-direction: row;
                align-items: flex-start;
            }
            
            .resumeHeader{
                margin-top:10px;
                display:flex;
                flex-direction: column;
                align-items: center;
                margin-bottom:20px;
                padding:10px;

                @media @desktop{
                    width:50%;
                    align-items: flex-start;
                }

                .resumeImage{
                    width:200px;
                    height:200px;
                    border-radius: 50%;
                    border:5px solid @accentColor;
                }
                .resumeHeaderText{
                    text-align:center;

                    @media @desktop{
                        text-align:Left;                    
                    }
                }            
                .skillSection{
                    width:100%;
                    display:none;
                    .name{
                        margin-top:80px;
                    }
                    @media @desktop{
                        display:flex;
                        flex-direction: column;
                        .skillsGrid{
                            display: flex;
                            flex-wrap: wrap;
                            .language{
                                width:100px;
                            }
                            .skillLevel{
                                width:210px;
                                display: flex;
                                flex-direction: column;
                                
                                .skillNumber{
                                    text-align: right;
                                    font-size:1rem;
                                    width:70%;
                                    height:17px;
                                    padding-left:30px;
                                }
                                .col-6{
                                    .skillsBox(60%);
                                }
                                .col-7{
                                    .skillsBox(70%);
                                }
                                .col-8{
                                    .skillsBox(80%);
                                }
                                .col-9{
                                    .skillsBox(90%);
                                }

                            }
        
                        }
    
                    }
                }                
    
            }
            .resumeSummary{
                width:100%;    

                .summaryText{
                    margin:10px;
                }
                .projects{
                    margin:10px;

                    .projectHeader
                    {
                        font-weight: bold;
                    }                
                }
                .addJobExp{
                    text-align: center;
                    font-size: 3rem;
                    padding:20px;
                    color:@textColor;

                    @media @desktop{
                        display: none;
                    }
                }
                .jobContainer{
                    margin:10px 10px 10px 20px;
                    display:flex;
                    flex-wrap: wrap;

                    @media (min-width:1050px){
                        justify-content: space-between;                        
                    }
                    @media @desktop{
                        .shrinkHeader{
                            line-height: 2rem;
                        }                    
                    }


                    .techStackSection{
                        display:flex;
                        flex-direction: column;
                        width: 100%;
                        
                        .techStackList{
                            display:flex;
                            justify-content: space-around;
                            width: 75%;
                            justify-content: space-around;
                            
                        }                        
                    }
                    .jobResponsibilitiesList{
                        list-style-type: square;
                        margin-left:52px;
                    }                     
                    .jobHeader{
                        font-weight: bold;
                    }

                }
                .addInfoText{
                    font-weight: bold;
                    margin-top:20px;
                    margin-left:10px;
                    margin-right:10px;
                    margin-bottom:40px;
                    text-align: center;
                }
            }
        }
    }
}