body{
    background-color: @headerColor;
    background-image: url('/static/img/bg.jpg') ;
    background-attachment:fixed;            

    display:flex;
    justify-content: center;
    margin:0 auto;
    
    
}
