//mixins
.backgroundImageAndBorder(){
    background-image: @sectionBackground;
    border-radius:@border-radius;
}

.skillsBox(@width){
    width:@width;
    height:10px;
    background-color:@accentColor;
    border-radius: 15px 50px 50px 0px
}