//variables
@fontStack:'Julius Sans One';
@backgroundColor:#C6C5B9;
@textColor:#325050;
@accentColor:#546A7B;
@headerColor:#393D3F;
@introText:'Droid Serif', 'Helvetica Neue', Helvetica, Arial, sans-serif;
@sectionBackground:url("../img/gl.jpg");
@linkDecoration:underline solid @textColor;

@border-radius:4px;

@desktop: ~"(min-width:768px)";
