//variables
@fontStack:'Lato';
@backgroundColor:#C6C5B9;
@textColor:#325050;
@accentColor:#546A7B;
@headerColor:#393D3F;
@sectionBackground:url("../img/gl.jpg");
@linkDecoration:underline solid @textColor;

@border-radius:4px;

@desktop: ~"(min-width:1025px)"; //setting to 1025 to keep the display 'mobile' on ipad in landscape
@okForIPL: ~"(min-width:800px)"; //i want to control 1 section on ipad landscape so i need a variable 