/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0 | 20110126
License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
html {
  height: 100%;
  font-size: 62.5%;
}
body {
  font-family: 'Julius Sans One';
  background-color: #C6C5B9;
  height: 100%;
  box-sizing: border-box;
  color: #325050;
}
.lineRight {
  border-right: 1px solid #546A7B;
}
.lineLeft {
  border-left: 1px solid #546A7B;
}
.link {
  color: #325050;
  text-decoration: underline solid #325050;
}
.vertLine {
  border-right: 1px solid #546A7B;
  min-height: 120px;
  width: 1px;
  align-self: center;
}
.horizontalRight {
  border-top: 1px solid #546A7B;
  width: 50%;
  height: 1px;
  align-self: flex-end;
  margin-right: 1px;
}
.horizontalLeft {
  border-top: 1px solid #546A7B;
  width: 50%;
  height: 1px;
  align-self: flex-start;
  margin-right: 1px;
}
.sectionHeading {
  justify-content: center;
  align-self: center;
  width: 300px;
  text-align: center;
  background-color: #546A7B;
  border-radius: 4px;
}
.sectionTitle {
  font-size: 4.5rem;
  color: white;
  padding: 10px;
}
.reduceForLines {
  padding: 20px;
}
.resumeSubHeader {
  font-size: 3rem;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  margin-left: 10px;
}
.mobileViewOnly {
  display: inline-flex;
}
@media (min-width:768px) {
  .mobileViewOnly .mobileViewOnly {
    display: none;
  }
}
.callOuts {
  font-weight: bold;
}
.techList {
  line-height: 1.2;
  margin-left: 30px;
}
.fullViewOnly {
  display: none;
}
@media (min-width:768px) {
  .fullViewOnly {
    display: inline-flex;
  }
}
.name {
  font-size: xx-large;
}
.hideLinkButton {
  display: none;
}
.pageContainer {
  width: 100%;
  flex-direction: column;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
}
.showBackgroundColor {
  background-color: #393D3F;
}
.mainImage {
  background: url('../img/bgHeader-72k.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
}
.mainImage .introLeadIn {
  font-size: 4rem;
  font-style: italic;
  font-family: 'Droid Serif', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: white;
  justify-content: center;
  align-self: center;
  width: 100%;
  display: flex;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
}
@media (min-width:768px) {
  .mainImage .introLeadIn {
    font-size: 5rem;
    margin-top: 0px;
  }
}
.mainSectionContent {
  display: flex;
  flex-direction: column;
  max-width: 1020px;
  margin: 0 auto;
}
.mainSectionContent .aboutMe {
  background-image: url("../img/gl.jpg");
  border-radius: 4px;
  line-height: 4rem;
  font-size: 1.8rem;
}
.mainSectionContent .aboutMe p {
  padding: 15px;
}
.mainSectionContent .aboutMe .indent {
  margin-left: 10px;
}
.mainSectionContent .aboutMe .helloWorld {
  margin-bottom: 0;
}
.mainSectionContent .resume {
  background-image: url("../img/gl.jpg");
  border-radius: 4px;
  line-height: 4rem;
  font-size: 1.8rem;
}
.mainSectionContent .resume .resumeContent {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width:768px) {
  .mainSectionContent .resume .resumeContent {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }
}
.mainSectionContent .resume .resumeContent .resumeHeader {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  padding: 10px;
}
@media (min-width:768px) {
  .mainSectionContent .resume .resumeContent .resumeHeader {
    width: 50%;
    align-items: flex-start;
  }
}
.mainSectionContent .resume .resumeContent .resumeHeader .resumeImage {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 5px solid #546A7B;
}
.mainSectionContent .resume .resumeContent .resumeHeader .resumeHeaderText {
  text-align: center;
}
@media (min-width:768px) {
  .mainSectionContent .resume .resumeContent .resumeHeader .resumeHeaderText {
    text-align: Left;
  }
}
.mainSectionContent .resume .resumeContent .resumeHeader .skillSection {
  width: 100%;
  display: none;
}
.mainSectionContent .resume .resumeContent .resumeHeader .skillSection .name {
  margin-top: 80px;
}
.mainSectionContent .resume .resumeContent .resumeHeader .skillSection .skillNumberWithPadding {
  text-align: right;
  font-size: 1rem;
  width: 70%;
  height: 17px;
  padding-left: 30px;
}
.mainSectionContent .resume .resumeContent .resumeHeader .skillSection .skillNumberNoPadding {
  text-align: right;
  font-size: 1rem;
  width: 70%;
  height: 17px;
  padding-left: 0;
}
@media (min-width:768px) {
  .mainSectionContent .resume .resumeContent .resumeHeader .skillSection {
    display: flex;
    flex-direction: column;
  }
  .mainSectionContent .resume .resumeContent .resumeHeader .skillSection .skillsGrid {
    display: flex;
    flex-wrap: wrap;
  }
  .mainSectionContent .resume .resumeContent .resumeHeader .skillSection .skillsGrid .language {
    width: 100px;
  }
  .mainSectionContent .resume .resumeContent .resumeHeader .skillSection .skillsGrid .skillLevel {
    width: 210px;
    display: flex;
    flex-direction: column;
  }
  .mainSectionContent .resume .resumeContent .resumeHeader .skillSection .skillsGrid .skillLevel .col-6 {
    max-width: 60%;
    height: 10px;
    background-color: #546A7B;
    border-radius: 15px 50px 50px 0px;
  }
  .mainSectionContent .resume .resumeContent .resumeHeader .skillSection .skillsGrid .skillLevel .col-7 {
    max-width: 70%;
    height: 10px;
    background-color: #546A7B;
    border-radius: 15px 50px 50px 0px;
  }
  .mainSectionContent .resume .resumeContent .resumeHeader .skillSection .skillsGrid .skillLevel .col-8 {
    max-width: 80%;
    height: 10px;
    background-color: #546A7B;
    border-radius: 15px 50px 50px 0px;
  }
  .mainSectionContent .resume .resumeContent .resumeHeader .skillSection .skillsGrid .skillLevel .col-9 {
    max-width: 90%;
    height: 10px;
    background-color: #546A7B;
    border-radius: 15px 50px 50px 0px;
  }
}
@media (min-width:768px) and (min-width:768px) {
  .mainSectionContent .resume .resumeContent .resumeHeader .skillSection .skillsGrid .language {
    height: 17px;
  }
}
.mainSectionContent .resume .resumeContent .resumeHeader .recommendations {
  width: 98%;
  display: none;
}
@media (min-width:768px) {
  .mainSectionContent .resume .resumeContent .resumeHeader .recommendations {
    display: inline-block;
  }
  .mainSectionContent .resume .resumeContent .resumeHeader .recommendations .name {
    margin-top: 80px;
  }
  .mainSectionContent .resume .resumeContent .resumeHeader .recommendations .recoText {
    text-align: center;
    font-style: italic;
    margin-top: 300px;
  }
  .mainSectionContent .resume .resumeContent .resumeHeader .recommendations .recoText .fancyQuotes {
    font-size: 2.3rem;
  }
  .mainSectionContent .resume .resumeContent .resumeHeader .recommendations .recoTitle {
    font-style: italic;
    text-align: center;
  }
}
.mainSectionContent .resume .resumeContent .resumeSummary {
  width: 100%;
}
.mainSectionContent .resume .resumeContent .resumeSummary .summaryText {
  margin: 10px;
}
.mainSectionContent .resume .resumeContent .resumeSummary .projects {
  margin: 10px;
}
.mainSectionContent .resume .resumeContent .resumeSummary .projects .projectHeader {
  font-weight: bold;
}
.mainSectionContent .resume .resumeContent .resumeSummary .addJobExp {
  text-align: center;
  font-size: 3rem;
  padding: 20px;
  color: #325050;
}
@media (min-width:768px) {
  .mainSectionContent .resume .resumeContent .resumeSummary .addJobExp {
    display: none;
  }
}
.mainSectionContent .resume .resumeContent .resumeSummary .jobContainer {
  margin: 10px 10px 10px 20px;
  display: flex;
  flex-wrap: wrap;
}
@media (min-width: 1050px) {
  .mainSectionContent .resume .resumeContent .resumeSummary .jobContainer {
    justify-content: space-between;
  }
}
@media (min-width:768px) {
  .mainSectionContent .resume .resumeContent .resumeSummary .jobContainer .shrinkHeader {
    line-height: 2rem;
  }
}
.mainSectionContent .resume .resumeContent .resumeSummary .jobContainer .techStackSection {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.mainSectionContent .resume .resumeContent .resumeSummary .jobContainer .techStackSection .techStackList {
  display: flex;
  width: 75%;
  justify-content: space-around;
}
.mainSectionContent .resume .resumeContent .resumeSummary .jobContainer .jobResponsibilitiesList {
  list-style-type: square;
  margin-left: 52px;
}
.mainSectionContent .resume .resumeContent .resumeSummary .jobContainer .jobHeader {
  font-weight: bold;
}
.mainSectionContent .resume .resumeContent .resumeSummary .addInfoText {
  font-weight: bold;
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 40px;
  text-align: center;
}
.contactInfo {
  background-image: url("../img/gl.jpg");
  border-radius: 4px;
  font-size: 1.6rem;
}
.contactInfo p {
  padding: 20px;
  border-bottom: 1px solid #546A7B;
  text-align: center;
}
.contactInfo p .name {
  font-size: xx-large;
}
footer {
  width: 100%;
  background-color: #546A7B;
}
